// METRICS

// NODE EXPORTER
prometheus.exporter.unix "default" {
	rootfs_path = "/host/root"
	sysfs_path = "/host/sys"
	procfs_path = "/host/proc"
}

prometheus.scrape "host_metrics" {
	targets         = prometheus.exporter.unix.default.targets
	
	scrape_interval = "11s"
	scrape_timeout = "10s"
	
	forward_to      = [prometheus.remote_write.prom.receiver]
}

// CADVISOR
prometheus.exporter.cadvisor "default" {
  docker_host = "unix:///var/run/docker.sock"
  docker_only = true
  disabled_metrics = ["referenced_memory"]
}

prometheus.scrape "cadvisor_metrics" {
  targets         = prometheus.exporter.cadvisor.default.targets
  
  scrape_interval = "15s"
  scrape_timeout = "10s"
  
  forward_to      = [prometheus.remote_write.prom.receiver]
}

prometheus.remote_write "prom" {
	endpoint {
		url = "http://127.0.0.1:{{ core_prometheus_port }}/api/v1/write"
	}
}

