services:
  alloy:
    image: grafana/alloy:${ALLOY_VERSION}
    container_name: alloy
    restart: unless-stopped

    pid: host
    network_mode: host
    privileged: true
    
    volumes:
      - ./alloy/config.alloy:/etc/alloy/config.alloy

      # For Node Exporter
      - /:/host/root:ro
      - /sys:/host/sys:ro
      - /proc:/host/proc:ro

      # For CAdvisor
      - /:/rootfs:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro

    command: 
      - 'run'
      - '--disable-reporting'
      - '--server.http.listen-addr=127.0.0.1:${ALLOY_PORT}'
      - '--storage.path=/var/lib/alloy/data'
      - '/etc/alloy/config.alloy'
    depends_on:
    #   - loki
      - prometheus
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512M
        reservations:
          memory: 256M

  prometheus:
    image: prom/prometheus:${PROMETHEUS_VERSION}
    container_name: prometheus
    restart: unless-stopped

    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--storage.tsdb.retention.time=${PROMETHEUS_RETENTION_TIME}'
      - '--storage.tsdb.retention.size=${PROMETHEUS_RETENTION_SIZE}'
      - '--web.enable-lifecycle'
      - '--web.enable-remote-write-receiver'
    ports:
      - "127.0.0.1:${PROMETHEUS_PORT}:9090"
    networks:
      - monitoring-layer
    
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 512M
        reservations:
          memory: 256M

volumes:
  prometheus_data:
#   grafana_data:
#   minio_data:
#   loki_wal:

networks:
  monitoring-layer:
    external: true
