apiVersion: 1

providers:
  - name: 'Main Provider'
    folder: ''
    type: file
    disableDeletion: true
    updateIntervalSeconds: 9
    allowUiUpdates: true
    options:
      path: /etc/grafana/dashboards